<h2> Authors: </h2>

<% @authors.each do |author| %>
  <li> <a href="/authors/<%=author.id%>"> <%= author.name %> </a></li>
<% end %>
<br>
<button type="submit"><a href="/books/menu">Main Menu</a></button>
