<h1> Add a New Book</h1>

<form action="/books" method="POST">
  <label> Title: </label>
  <input type="text" name="book[title]">
  <br></br>

  <label> Author: </label>
  <input type="text" name="book[author_id]">
  <br></br>
  <input type="submit" value="submit">
</form>
