<h2> Check out this book! </h2>
<h4>Title:</h4> <p><%=@book.title %></p>
<h4>Author:</h4> <p><%=@book.author.name %></p>

  <% if current_user.id == @book.user_id %>
    <form method="POST" action="/books/<%=@book.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Book">
    </form>
    <br>
    <button type="submit"><a href="/books/<%=@book.id%>/edit">Edit Book</a></button>
      <br></br>
  <%end%>
  <button type="submit"><a href="/books/menu">Main Menu</a></button>
  <button type="submit"><a href="/books">See Books</a></button>
