<h4><%=@book.title %></h4>
<label><%=@book.author.name%></label><br>
<br></br>

  <button type="submit"><a href="/books/<%=@book.id%>/edit">Edit Book</a></button><br>
  <button type="submit"><a href="/books/menu">Main Menu</a></button>
