<h1> Welcome <%= current_user.username%>! </h1>
<h2> Read Books Main Menu </h2>
<ul>
<li><a href="/books">See All Books</a><br></li>
<li><a href="/books/new">Add a Book</a><br></li>
<li><a href="/authors">See All Authors</a></li>
</ul>

<button type="submit"><a href="/logout">Log Out</a></button>
